	// start .sEvents
.sEvents {
	

	padding-top: 20px;
	padding-bottom: 52px;
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		padding: 0;
		border-radius: 50%; 
		width: rem(40);
		height: rem(40);
		margin-bottom: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		.icon{
			font-size: rem(20);
		}
	}
	&__item{
		background-color: $white;
		margin-bottom: 14px;
		border: 1px solid rgba(143, 155, 179, 0.5);
		box-sizing: border-box;
		border-radius: 4px;

		padding: rem(10) rem(12) rem(24) rem(28);
		.row{
			align-items: center;
		}
	}

	&__star{
		color: $primary;
		margin-bottom: rem(10);
		.icon{
			stroke: currentColor;
			fill:transparent;
			font-size: rem(20); 
			@include mt;
		}
			&:hover,
			&.active {
				.icon {
					fill: currentColor;
				}
			}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sEvents