mixin footer()
	+b.FOOTER.footer
		.container
			+e.block
				img(src="img/svg/footer-img.svg"  loading="lazy", alt="")
				+e.copy © study-italy.ru 2015 —2020
				+e.mail(href="mailto:info@study-italy.ru") info@study-italy.ru
				br
				+e.tel(href="tel:+7(495)151-99-05") +7(495) 151-99-05
				+e.text Мы&nbsp;собираем метаданные пользователей (cookie, данные об&nbsp;IP-адресе и&nbsp;меcтоположении) для функционирования сайта. Если вы&nbsp;не&nbsp;хотите, чтобы эти данные обрабатывались, то&nbsp;вам следует покинуть сайт