mixin sNews()
	// start sNews
	+b.sNews.section#sNews&attributes(attributes)
		.container
			.row
				mixin item(i,l,n,t)
					+e.col.col-md-4.col-sm-6
						+e.item
							+e.img-wrap.bg-wrap(href="#")
								+pic(`sNews-${i}.png`,'bg',0)(class="picture-bg")
								+e.DIV.label!= l
							+e.DIV.title
								a(href="#")!= n
							+e.DIV.text!= t

				+item(1, `14.04.2021`, `Заголовок для новости в несколько строк для наглядности отображения`, `Краткое описание новости если актуально`)
				+item(2, `14.04.2021`, `Заголовок для новости в несколько строк для наглядности отображения`, `Краткое описание новости если актуально`)
				+item(3, `14.04.2021`, `Заголовок для новости в несколько строк для наглядности отображения`, `Краткое описание новости если актуально`)
				+item(4, `14.04.2021`, `Заголовок для новости в несколько строк для наглядности отображения`, `Краткое описание новости если актуально`)
				+item(5, `14.04.2021`, `Заголовок для новости в несколько строк для наглядности отображения`, `Краткое описание новости если актуально`)
				+item(6, `14.04.2021`, `Заголовок для новости в несколько строк для наглядности отображения`, `Краткое описание новости если актуально`)
				+item(7, `14.04.2021`, `Заголовок для новости в несколько строк для наглядности отображения`, `Краткое описание новости если актуально`)
				+item(8, `14.04.2021`, `Заголовок для новости в несколько строк для наглядности отображения`, `Краткое описание новости если актуально`)
				+item(9, `14.04.2021`, `Заголовок для новости в несколько строк для наглядности отображения`, `Краткое описание новости если актуально`)

				.text-center
					+e.btn(href='#')
							span Показать еще




	// end sNews