mixin sTalkom()
	// start sTalkom
	+b.SECTION.sTalkom.section#sTalkom&attributes(attributes)
		.container
			+b.section-title
				h2 Общение с&nbsp;Talkoм  Программа&nbsp;2.0
			.row
				.col-lg-auto
					+pic('talcom.jpg','bg')
				.col
					p: strong Площадка для взаимного обучения от&nbsp;участника к&nbsp;участнику. 

					p Каждый сможет предложить свои темы для обсуждений. Итоговые темы и&nbsp;форматы будут определяться голосованием среди участников.
	// end sTalkom