extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sLogos/_sLogos.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Восстановление пароля'
	title= title
block pagecontent
	//- +mob-mnu()
	+top-nav()
	+page-title(title)
	+password
					 
	//- +headerBlock()
	//- +sProgram
	//- .bg-grad
	//- 	+sPerson
	//- 	+sNetworking 
	+sLogos
	+footer()


	