
	// start .sItems
	.sItems {
		text-align: center;
		.row{
			justify-content: center;
		}
		img{
			margin-bottom: rem(36);
		}
		&__col{
		 margin-bottom: 30px;
		}
		&__title{
			@extend .h5;
			font-weight: bold;
			margin-bottom: rem(30);
			margin-top: auto;
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
 
} // end.sItems
