
.main-page{
	.top-nav{

		background-color: #ffffff;
	}
}
.top-nav {
		 
	// position: sticky;
	position: relative;                               
	z-index: 200;
	left: 0;
	top: 0;
		@include media-breakpoint-up(sm) {

			padding-top: rem(30);
		}
		padding-top: rem(15);
	padding-bottom: rem(15); 
	.container{
		padding-top: var(--topSpacing);
		padding-bottom: var(--topSpacing);
		position: relative;
 
	}
		&__logo {
			@include mt;
			img{
				@extend .res-i;
			}
 
		}
 
	.row{
		align-items: center;
		@include roww(15px);
	}
	@include media-breakpoint-up(xl){
	&__logo{ 
		margin-right: rem(30);
	}
}
	&__user{
		width: rem(40);
		height: rem(40);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid ;
		// color: #ffffff;
		&:hover{
			color: $primary !important;
		}
		.icon{
			font-size: rem(22);
		}
	}

	&__col {
		position: relative;
	}


	&__cabinet{
		display: flex;
		align-items: center;
	}
	&__btn{
		@include media-breakpoint-up(xl) {

			width: rem(160);
		}
		width: rem(140);
		@extend .btn; 
		@extend .btn-primary; 
	}
	&__btn{
		@include media-breakpoint-up(xl) {

			width: rem(160);
		}
		width: rem(140);
		@extend .btn; 
		@extend .btn-primary; 
		text-transform: uppercase;
	}
	&__btn-user{
		 
		@extend .btn; 
		@extend .btn-outline-primary; 
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(48);
		height: rem(48);
		.icon{
			font-size: rem(24);
		}
	}
	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}
	
	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	
	
	// 
	@include media-breakpoint-down(xl) {}
	
	@include media-breakpoint-down(lg) {}
	
	@include media-breakpoint-down(md) {}
	
	@include media-breakpoint-down(sm) {}
	
	@include media-breakpoint-down(xs) {}
}
	
.nav-wrap{
	@include media-breakpoint-up(lg) {
		display: block !important;
		position: relative;
		padding-left: 0;
		padding-right: 0;
	
	}
	padding-left: 15px;
	padding-right: 15px;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;

	&.active{
		display: block;
	}
	@include media-breakpoint-down(lg) {
		background-color: #fff;
		padding: rem(30) 0 rem(60);
		border-bottom: 1px solid #ccc;
		text-align: center;
		&::before{
			content: '';
			z-index: -1;
			background-color: #fff;
			left: -100vw;
			width: 300vw;
			top: 0;
			height: 100%;
			position: absolute;
	 }
	}
}

.navMenu{
		@include media-breakpoint-up(sm) {

			display: flex;
			list-style: none;
			align-items: center;
		}
		text-align: center;
		@include media-breakpoint-up(xl) {
			@include roww(rem(44));
		}
		@include media-breakpoint-up(lg) {
			justify-content: start;
			padding-right: 0;
		}
		padding-right: 20px;
		justify-content: flex-end;
		@include roww(rem(20));
	align-items: center;
	font-weight: 700;
	// text-transform: uppercase;
	margin-bottom: 0;
	&__link{ 
		color: $body-color; 
		display: inline-block;
		border-bottom: 1px solid;
		line-height: 1;
			@include media-breakpoint-up(xl) {

				font-size: rem(21);
			}
			@include media-breakpoint-up(sm){
				margin-bottom: 0;
			}
			margin-bottom: 1rem;
		&.active,
		&:hover{
			color: $primary !important;
		}
	}
}

.user-block{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: rem(20);
	&__caption{
		margin-right: rem(21);
		@include media-breakpoint-up(lg) {

			display: block;
		}
		display: none;
		text-align: right;
	}
	&__name{
		font-size: $small;
		font-weight: bold;
		display: block;
	}
	&__text{
		font-size: rem(11);
		display: block;
		color: #000000; 
		opacity: 0.5;
	}
	picture{
		width: rem(40);
		height: rem(40);
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		border: 3px solid $primary;
	}
}