mixin sAreas()
	// start sAreas
	+b.sAreas#sAreas&attributes(attributes)
		.container
			.row
				mixin item(i, t)
					+e.col.col-lg-4.col-sm-6
						+e.item(href="#")
							+e.DIV.img-wrap
								img(src=`img/svg/sAreas-${i}.svg` loading="lazy", alt="")
							+e.DIV.title!= t
					// /+e.col.col-4
				+item(`1`,`Экономика, финансы, управление бизнесом`)
				+item(`2`,`Политология, международные    отношения`)
				+item(`3`,`Юриспруденция`)
				+item(`4`,`Математика, Информатика и кибербезопасность`)
				+item(`23`,`Спорт`)
				+item(`5`,`Архитектура и строительство`)
				+item(`6`,`Инженерное дело`)
				+item(`7`,`Естественные науки`)
				//- +item(`8`,`Статистика`)
				+item(`9`,`Медицина и хирургия`)
				+item(`10`,`Фармацевтика`)
				+item(`11`,`Ветеринария`)
				+item(`12`,`Психология`)
				+item(`13`,`Коммуникации, <br> pr, реклама`)
				+item(`14`,`Туризм`)
				+item(`15`,`Другие гуманитарные науки`)
				+item(`16`,`Педагогика`)
				+item(`17`,`Лингвистика`)
				+item(`18`,`Мода и дизайн`)
				+item(`19`,`Кулинария и   <br>    кондитерское дело`)
				+item(`20`,`Сельское хозяйство,   лесное хозяйство и  пищевые науки`)
				//- +item(`21`,`Музыка`)
				+item(`24`,`Археология, история искусства,  кино     и музыки`)
				+item(`22`,`Подготовительный               год`)

	// end sAreas