mixin sCorporation()
	// start sCorporation
	+b.SECTION.sCorporation.section#sCorporation&attributes(attributes)
		.container
			+e.inner
				+b.section-title.text-center
					h2 Корпорация НЛСК
					p Модули, содержащие основные технологии и&nbsp;инструменты для комьюнити-менеджмента
				ul
					li Партнеры. Поиск ресурсов
					li Комьюнити онлайн. Инструменты 
					li Алгоритм запуска и&nbsp;реализации
					li Конструктор событий 
					li Теория и&nbsp;практика креативного мышления
					li Эволюция сообществ
					li Комьюнити драйверы
			
	// end sCorporation