mixin sCompetencies()
	// start sCompetencies
	+b.SECTION.sCompetencies.section#sCompetencies&attributes(attributes)
		.container
			+b.section-title
				+e.title-wrap
					h2 Компетенции  будущего 
				+e.item эмоциональный интеллект
				+e.item гибкость ума
				+e.item критическое мышление 
				+e.item клиентоориентированность
				+e.item взаимодействие с людьми
				+e.item управление людьми
				+e.item умение вести переговоры
				+e.item комплексное многоуровневое решение проблем
				+e.item креативное мышление
				+e.item формирование собственного мнения и принятия решений 
			
	// end sCompetencies