mixin sGrant()
	// start sGrant
	+b.SECTION.sGrant.section#sGrant&attributes(attributes) 
		.container
			+b.section-title
				h2 Грантовый конкурс  
			.row
				.col-xl-auto
					+e.left-block
						+e.title--gray В&nbsp;рамках Всероссийского конкурса молодежных проектов
						+e.price
							+e.price-sm--top до
							div
								+e.price-number 500 000 
								+e.price-sm рублей 
				.col
					+e.title Направление:
						br
						| Развитие студенческих клубов
					
					br
					br
					+e.title Номинации: 
					ul
						li добровольчество 
						li развитие социальных лифтов 
						li инициативы творческой молодежи 
						li патриотическое воспитание 
						li спорт, ЗОЖ, туризм
						li профилактика негативных проявлений в&nbsp;молодежной среде и&nbsp;межнациональное взаимодействие 
						li укрепление семейных ценностей 
						li молодёжные медиа
	// end sGrant